.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button,
input {
  margin: 5px !important;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth form {
  flex-direction: column;
}

.top-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

table {
  margin: 0 auto;
}

thead {
  font-weight: bold;
}

td {
  border: 1px solid gray;
  padding: 5px;
}

.username, .change-password p {
  font-weight: bold;
}

.change-password {
  padding: 50px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
